@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu peux laisser tes réglages de couleurs en dessous si tu veux */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 1, 6, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  /* Lissage des polices pour l'élégance */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar personnalisée (plus joli sur Chrome/Edge) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #01060F;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #EAC157; /* Devient jaune au survol */
}