/* 1. TOUJOURS EN PREMIER */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* 2. ENSUITE TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. ENSUITE TES VARIABLES ET RÉGLAGES */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 1, 6, 15;
  /* On définit les variables pour éviter que le site ne plante */
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--font-inter);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ... Le reste de ton CSS (scrollbar, etc.) ... */